# Standard Python ignores
.pytest_cache
__pycache__
*.sw[op]
/dist/
*.pyc
/*.egg-info
.env
htmlcov/
.coverage

.vscode
scripts/topn

# Build products
*.jsonl
!data/*.jsonl
jsonl/
tmp/
db/
*.sqlite
data/enwiki-nihongo-articles.gz
data/enwiki-template-only.gz
data/jawiki-articles.gz
*.cache

# wikidumps
data/*.xml.bz2

# dictionaries converted to json
#data/pdd.json.gz
#data/koujien.json.gz
#data/daijisen.json.gz
#data/researchmap.gz
#data/researchmap.jsonl

# backups
old/
**/*.old
